{% extends 'base.html' %}
{% block title %} بازی دور {% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
     h3 {
                color: #2a6496;

            }

            img {
                border-radius: 50%;
            }

            p {
                color: darkred;
            }
</style>
</head>
<body>
<h3>
   دور با ما!
</h3>
<h4>
    تاریخچه بازی دور
</h4>
<p>
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
</p>
<h4>قوانین بازی دور</h4>
<p>
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
</p>
<p>
    لطفا برای بهره مندی از مطالب و بازی های سایت ثبت نام کنید و وارد شوید.
</p>
<h1>user authenticate</h1>
<form action="{% url 'dowr:game' %}" method="post" id="usrform">
            {% csrf_token %}
<h3>نام بازیکنان</h3>
            <div class="input-group">

                <input type="text" name="name11" class="form-control"
                       placeholder=" بازیکن اول تیم اول">
                <input type="text" name="name12" class="form-control"
                       placeholder=" بازیکن دوم تیم اول">
                <input type="text" name="name21" class="form-control"
                       placeholder=" بازیکن اول تیم دوم">
                <input type="text" name="name22" class="form-control"
                       placeholder=" بازیکن دوم تیم دوم">

            </div>
    <h3>پارامترهای بازی</h3>
                <input type="number" name="time" class="form-control"
                       placeholder=" زمان هر دور">
                <input type="number" name="count" class="form-control"
                       placeholder="تعداد دورها">
                <input type="number" name="hardness" class="form-control"
                       placeholder=" سطح سختی بازی">


                <div class="input-group-btn">

                    <button type="submit" class="btn btn-outline-warning">شروع بازی</button>
                </div>
        </form>
</body>
{% endblock %}